@use '../abstracts' as a;

.product-list-page {
}
.category-bar {
  border-radius: a.$border-radius;
  background-color: a.$background-white;
  &__title {
    margin: 0;
    padding: 15px 20px;
    font-size: 1.6rem;
    color: a.$text-light;
    i {
      font-size: 1.6rem;
    }
  }
  &__list {
    list-style: none;
  }
  &__item {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    padding: 4px 16px;
    font-size: 1.5rem;
    color: a.$text;
    text-decoration: none;
    transition: right linear 0.2s;
    right: 0;
    &:hover,
    &.active {
      right: -4px;
      color: a.$primary;
      font-weight: 600;
    }
    svg {
      margin-right: 4px;
      height: 28px;
      width: 28px;
    }
  }
}
/* Navigation Filter */
.filter {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: a.$border-radius;
  font-size: 1.5rem;
  &__title {
    font-size: inherit;
    color: a.$text-light;
  }
  &__list {
    display: block;
    flex: 1;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    list-style: none;
    .filter__item {
      border-radius: a.$border-radius;
      & > a {
        display: block;
        padding: 8px 16px;
      }
      &.active {
        background-color: a.$primary;
        color: a.$text-white;
      }
      &:hover:not(.active):not(.filter__item-select) {
        cursor: pointer;
        background: a.$hover-text;
        transition: background-color 0.2s;
      }
      .select {
        border: none;
        // max-width: 140px;
        &.active {
          background-color: a.$primary;
          color: a.$text-white;
        }
        &__list {
          background-color: a.$background-white;
          color: a.$text;
        }
      }
    }
  }
  &__switch {
    display: flex;
    .filter-switch__control {
      margin-left: 10px;
      a {
        padding: 2px 10px;
        text-decoration: none;
        color: a.$text;
        background-color: a.$background-white;
        &:hover:not(.disabled) {
          background-color: a.$hover-bg;
        }
      }
      a.disabled {
        background-color: a.$background-disabled;
        pointer-events: none;
      }
    }
  }
}
/* Product */
.product {
  &__item {
    display: block;
    position: relative;
    text-decoration: none;
    color: a.$text;
    background-color: a.$background-white;
    border-radius: a.$border-radius;
    box-shadow: a.$box-shadow-sm;
    transition: transform ease-in 0.2s;
    will-change: transform;

    &:hover {
      transform: translateY(-4px);
      box-shadow: a.$box-shadow;
    }

    .product-item__img {
      padding-top: 100%;
      background: no-repeat center/contain;
      border-top-left-radius: a.$border-radius;
      border-top-right-radius: a.$border-radius;
    }
    .product-item__content {
      padding: 0 10px;
      .product-item__name {
        $base-font: 1.4rem;
        margin: 5px 0;
        overflow: hidden;
        height: calc(#{$base-font}* 2 + 6px);
        line-height: calc(#{$base-font} + 3px);
        font-size: $base-font;
        font-weight: 400;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      .product-item__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 6px 0;
        font-size: 1.5rem;
        .price-original {
          position: relative;
          color: a.$text-light;
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            transform: rotate(-15deg);
            background-color: a.$text-light;
          }
        }
        .price-sale {
          font-weight: 600;
          color: a.$primary;
        }
      }
      .product-item__react {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        padding-top: 5px;
        .product-item__rating {
          color: a.$yellow;
        }
        .product-item__sold {
          margin-left: 4px;
        }
      }
      .product-item__origin {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        font-size: 1.2rem;
        .item-brand {
          width: 50%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    .product-item__favourite {
      position: absolute;
      padding: 0 4px;
      line-height: 1.8rem;
      top: 8px;
      left: -4px;
      color: a.$text-white;
      background-color: a.$red;
      font-size: 1.2rem;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      i {
        margin-right: 3px;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        border-top: 4px solid a.$red;
        border-left: 4px solid transparent;
        filter: brightness(0.7);
      }
    }
    .product-item__discount {
      position: absolute;
      right: 0;
      top: 0;
      width: 4rem;
      height: 4rem;
      text-align: center;
      font-weight: 600;
      line-height: 2rem;
      font-size: 1.2rem;
      background-color: a.$yellow;
      color: a.$text-white;
      border-top-right-radius: a.$border-radius;
    }
    .product-item__discount::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      border-width: 0 2rem 10px;
      border-style: solid;
      border-color: transparent a.$yellow transparent a.$yellow;
    }
  }
}
