.grid{
    padding: 0;
    display: block;
    width: 100%;
}

.wide{
    margin: 0 auto;
    max-width: 1200px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.row-al-center{
    align-items: center;
}

.col{
    padding-left: 4px;
    padding-right: 4px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
    .exsm-0 {
        display: none;
    }

    /* Col width */
    @for $i from 1 through 12 {
        .exsm-#{$i} {
            display: block;
            max-width: calc(100% * ($i/12));
            flex: 0 0 calc(100% * ($i/12));
        }
    }

    /* Col offset */
    @for $i from 1 through 12 {
        .exsm-o-#{$i} {
            margin-left: calc(100% * ($i/12));
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    .row {
        margin-left: -4px;
        margin-right: -4px;
    }

    .col {
        padding-left: 4px;
        padding-right: 4px;
    }

    .sm-0 {
        display: none;
    }

    /* Col width */
    @for $i from 1 through 12 {
        .sm-#{$i} {
            display: block;
            max-width: calc(100% * ($i/12));
            flex: 0 0 calc(100% * ($i/12));
        }
    }

    /* Col offset */
    @for $i from 1 through 12 {
        .sm-o-#{$i} {
            margin-left: calc(100% * ($i/12));
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wide {
        max-width: 744px;
    }

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .md-0 {
        display: none;
    }

    /* Col width */
    @for $i from 1 through 12 {
        .md-#{$i} {
            display: block;
            max-width: calc(100% * ($i/12));
            flex: 0 0 calc(100% * ($i/12));
        }
    }

    /* Col offset */
    @for $i from 1 through 12 {
        .md-o-#{$i} {
            margin-left: calc(100% * ($i/12));
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wide{
        max-width: 984px;
    }

    .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .col {
        padding-left: 10px;
        padding-right: 10px;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .lg-0 {
        display: none;
    }

    /* Col width */
    @for $i from 1 through 12 {
        .lg-#{$i} {
            display: block;
            max-width: calc(100% * ($i/12));
            flex: 0 0 calc(100% * ($i/12));
        }
    }

    .lg-2-4{
        flex: 0 0 20%;
        max-width: 20%;
    }

    /* Col offset */
    @for $i from 1 through 12 {
        .lg-o-#{$i} {
            margin-left: calc(100% * ($i/12));
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1224px) {
    .wide{
        max-width: 1200px;
    }

    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter {
        margin-left: -8px;
        margin-right: -8px;
    }

    .row.sm-gutter .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .elg-0 {
        display: none;
    }

    /* Col width */
    @for $i from 1 through 12 {
        .elg-#{$i} {
            display: block;
            max-width: calc(100% * ($i/12));
            flex: 0 0 calc(100% * ($i/12));
        }
    }

    .elg-2-4{
        flex: 0 0 20%;
        max-width: 20%;
    }

    /* Col offset */
    @for $i from 1 through 12 {
        .elg-o-#{$i} {
            margin-left: calc(100% * ($i/12));
        }
    }
}

/* Custom style classes */
@mixin attr-x($attr, $attr-count: 50, $attr-steps: 1, $unit: 'px') {
    $attr-list: null;
    @for $i from 1 through $attr-count {
        $attr-value: $attr-steps * $i;

        .#{$attr}#{$attr-value} {
            #{$attr}: #{$attr-value}#{$unit};
        }

         $attr-list: append($attr-list, unquote(".#{$attr}#{$attr-value}"), comma);
    }

    #{$attr-list} {
        //append style to all classes
        
    }
}

/* Margin top */
@include attr-x('margin-top', 60, 1, 'px');

/* Padding top */
@include attr-x('padding-top', 60, 1, 'px');

/* Sub layout */
.layout-split{
    background-color: $background-color-white;
    border-radius: $border-radius;
}