.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid--full{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.row-al-center{
    align-items: center;
}
.col{
    padding-left: 12px;
    padding-right: 12px;
    &-3{
        @extend .col;
        width: 25%;
    }
    &-9{
        @extend .col;
        width: 75%;
    }
    &-5{
        @extend .col;
        width: 41.16666%;
    }
    &-7{
        @extend .col;
        width: 58.33333%;
    }
    &-4{
        @extend .col;
        width: 33.3333%;
    }
    &-8{
        @extend .col;
        width:66.66667%;
    }
    &-2{
        @extend .col;
        width: 16.6667%;
    }
    &-10-2{
        @extend .col;
        width: 20%; 
    }
    &-10{
        @extend .col;
        width: 83.3333%;
    }
}
/*Margin top 10px*/
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-24{
    margin-top: 24px;
}
/*Padding top 10px*/
.pt-20{
    padding-top: 20px;
}
.p-25{
    padding: 25px;
}
.layout-split{
    background-color: $background-color-white;
    border-radius: $border-radius;
}
.pb-50{
    padding-bottom: 50px;
}