.grid{
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 100%;
}
.wide{
    max-width: 1200px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
.row-al-center{
    align-items: center;
}
.col{
    padding-left: 4px;
    padding-right: 4px;
    &-3{
        @extend .col;
        max-width: 25%;
        flex: 0 0 25%;
    }
    &-9{
        @extend .col;
        max-width: 75%;
        flex: 0 0 75%;
    }
    &-5{
        @extend .col;
        max-width: 41.16666%;
        flex: 0 0 41.16666%;
    }
    &-7{
        @extend .col;
        max-width: 58.33333%;
        flex: 0 0 58.33333%;
    }
    &-4{
        @extend .col;
        max-width: 33.3333%;
        flex: 0 0 33.3333%;
    }
    &-8{
        @extend .col;
        max-width: 66.6666%;
        flex: 0 0 66.6666%;
    }
    &-2{
        @extend .col;
        max-width: 16.6667%;
        flex: 0 0 16.6667%;
    }
    &-10-2{
        @extend .col;
        max-width: 20%;
        flex: 0 0 20%;
    }
    &-10{
        @extend .col;
        max-width: 83.3333%;
        flex: 0 0 83.3333%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

/*Margin top*/
@mixin attr-x($attr, $attr-count: 50, $attr-steps: 1, $unit: 'px') {
    $attr-list: null;
    @for $i from 1 through $attr-count {
        $attr-value: $attr-steps * $i;

        .#{$attr}#{$attr-value} {
            #{$attr}: #{$attr-value}#{$unit};
        }

        $attr-list: append($attr-list, unquote(".#{$attr}-#{$attr-value}"), comma);
    }

    #{$attr-list} {
        //append style to all classes
    }
}
@include attr-x('margin-top', 50, 1, 'px');

/*Padding top*/
@include attr-x('padding-top', 50, 1, 'px');