.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid--full{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.col{
    padding-left: 12px;
    padding-right: 12px;
    &-4{
        @extend .col;
        width: 33.3333%;
    }
    &-8{
        @extend .col;
        width:66.66667%;
    }
    &-2{
        @extend .col;
        width: 16.6667%;
    }
    &-10-2{
        @extend .col;
        width: 20%; 
    }
    &-10{
        @extend .col;
        width: 83.3333%;
    }
}
/*Margin top 10px*/
.mt-10{
    margin-top: 10px;
}
/*Padding top 10px*/
.pt-20{
    padding-top: 20px;
}