/* Pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    list-style: none;
    &__link{
        display: block;
        margin: 0 10px;
        padding: 8px 16px;
        font-size: 1.5rem;
        text-decoration: none;
        color: $text-color;
        border-radius: $border-radius;
        cursor: default;
        &:hover:not(.disabled):not(.active){
            background: $hover-color-text;
            cursor: pointer;
        }
        &.active{
            background: $primary-color;
            color: $background-color-white;
            pointer-events: none;
        }
        &.disabled{
            color: $text-color-disable;
            pointer-events: none;
        }
    }
}