@use '../abstracts' as a;

/* Pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    list-style: none;
    &__link{
        display: block;
        margin: 0 10px;
        padding: 8px 16px;
        font-size: 1.5rem;
        text-decoration: none;
        color: a.$text;
        border-radius: a.$border-radius;
        cursor: default;
        &:hover:not(.disabled):not(.active){
            background: a.$hover-text;
            cursor: pointer;
        }
        &.active{
            background: a.$primary;
            color: a.$background-white;
            pointer-events: none;
        }
        &.disabled{
            color: a.$text-disable;
            pointer-events: none;
        }
    }
}