@import 'abstracts/variables';
//@import 'abstracts/functions';
//@import 'abstracts/mixins';

//@import 'vendors/bootstrap-customize';
//@import 'vendors/jquery-ui';  

@import 'base/reset';
@import 'base/typography';
@import 'base/animation';
@import 'base/custom';

@import 'components/title';
@import 'components/select';
@import 'components/button';
// @import 'components/carousel';
@import 'components/slider';
@import 'components/modal';
//@import 'components/search';
@import 'components/input';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/pagination';
//@import 'layout/manager';
// @import 'layout/sidebar';
// @import 'layout/forms';

@import 'page/home';
@import 'page/product';
@import 'page/personal.scss';
// @import 'pages/about';
// @import 'pages/contact';

// @import 'themes/theme';
// @import 'themes/admin';
