@import 'abstracts/variables';
//@import 'abstracts/functions';
//@import 'abstracts/mixins';

@import 'base/reset';
@import 'base/typography';
@import 'base/animation';
@import 'base/custom';

@import 'components/title';
@import 'components/select';
@import 'components/button';
// @import 'components/carousel';
@import 'components/slider';
@import 'components/input';
@import 'components/notification';
@import 'components/svg';
@import 'components/text';
@import 'components/modal';

@import 'layout/grid';
@import 'layout/responsive';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/pagination';

@import 'page/productList';
@import 'page/productDetail';
@import 'page/personal';
@import 'page/order';
@import 'page/orderSuccess';

// @import 'themes/theme';
// @import 'themes/admin';
