@use '../abstracts' as a;

.animated{
    -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
            -o-animation-duration: 1s;
                animation-duration: 1s;
    -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
            -o-animation-fill-mode: both;
                animation-fill-mode: both;
}
/* Shake animation */
@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
    0%, 100% {-o-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}
.shake{
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}
/* Slide down */
@-webkit-keyframes slide-down {
    0% {  
        opacity: 0;
        -webkit-transform: translateY(-5%); 
    }   
    100% { 
        opacity: 1;
        -webkit-transform: translateY(0); 
    }
}
/* Slide from top and right */
@keyframes slide-top-right{
    0%{
        transform-origin: top right;
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
/* Fade in */
@keyframes fade-in{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

/* Modal animation */
@keyframes zoom-center {
    0%{
        transform: scale(0.5);
        opacity: 0.5;
        background-color: a.$third;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}