@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
html{
    font-size: 62.5%;// Cac phan tu con se thua ke, ban chat cua font-size la vay
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}
// body, form, fieldset, table, tr, td, img, input, button, select, textarea, optgroup, option{
//     font-family: inherit;
//     font-size: inherit;
//     font-style: inherit;
//     // font-weight: inherit;
// }