@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
}
.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}

.btn-primary {
  color: #000;
  background-color: red;
  border-color: red;
}
.btn-primary:hover {
  color: #000;
  background-color: #ff2626;
  border-color: #ff1a1a;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #000;
  background-color: #ff2626;
  border-color: #ff1a1a;
  box-shadow: 0 0 0 0.25rem rgba(217, 0, 0, 0.5);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #000;
  background-color: #ff3333;
  border-color: #ff1a1a;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(217, 0, 0, 0.5);
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #000;
  background-color: red;
  border-color: red;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}
.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}
.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #565e64;
  border-color: #51585e;
}
.btn-check:checked + .btn-secondary:focus, .btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}
.btn-secondary:disabled, .btn-secondary.disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.btn-success:hover {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
}
.btn-check:focus + .btn-success, .btn-success:focus {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
  box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
}
.btn-check:checked + .btn-success, .btn-check:active + .btn-success, .btn-success:active, .btn-success.active, .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #146c43;
  border-color: #13653f;
}
.btn-check:checked + .btn-success:focus, .btn-check:active + .btn-success:focus, .btn-success:active:focus, .btn-success.active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
}
.btn-success:disabled, .btn-success.disabled {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.btn-info {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
.btn-info:hover {
  color: #000;
  background-color: #31d2f2;
  border-color: #25cff2;
}
.btn-check:focus + .btn-info, .btn-info:focus {
  color: #000;
  background-color: #31d2f2;
  border-color: #25cff2;
  box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
}
.btn-check:checked + .btn-info, .btn-check:active + .btn-info, .btn-info:active, .btn-info.active, .show > .btn-info.dropdown-toggle {
  color: #000;
  background-color: #3dd5f3;
  border-color: #25cff2;
}
.btn-check:checked + .btn-info:focus, .btn-check:active + .btn-info:focus, .btn-info:active:focus, .btn-info.active:focus, .show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
}
.btn-info:disabled, .btn-info.disabled {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn-warning {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-warning:hover {
  color: #000;
  background-color: #ffca2c;
  border-color: #ffc720;
}
.btn-check:focus + .btn-warning, .btn-warning:focus {
  color: #000;
  background-color: #ffca2c;
  border-color: #ffc720;
  box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}
.btn-check:checked + .btn-warning, .btn-check:active + .btn-warning, .btn-warning:active, .btn-warning.active, .show > .btn-warning.dropdown-toggle {
  color: #000;
  background-color: #ffcd39;
  border-color: #ffc720;
}
.btn-check:checked + .btn-warning:focus, .btn-check:active + .btn-warning:focus, .btn-warning:active:focus, .btn-warning.active:focus, .show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}
.btn-warning:disabled, .btn-warning.disabled {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}
.btn-check:focus + .btn-danger, .btn-danger:focus {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
  box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
.btn-check:checked + .btn-danger, .btn-check:active + .btn-danger, .btn-danger:active, .btn-danger.active, .show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #b02a37;
  border-color: #a52834;
}
.btn-check:checked + .btn-danger:focus, .btn-check:active + .btn-danger:focus, .btn-danger:active:focus, .btn-danger.active:focus, .show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
.btn-danger:disabled, .btn-danger.disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-light {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light:hover {
  color: #000;
  background-color: #f9fafb;
  border-color: #f9fafb;
}
.btn-check:focus + .btn-light, .btn-light:focus {
  color: #000;
  background-color: #f9fafb;
  border-color: #f9fafb;
  box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-check:checked + .btn-light, .btn-check:active + .btn-light, .btn-light:active, .btn-light.active, .show > .btn-light.dropdown-toggle {
  color: #000;
  background-color: #f9fafb;
  border-color: #f9fafb;
}
.btn-check:checked + .btn-light:focus, .btn-check:active + .btn-light:focus, .btn-light:active:focus, .btn-light.active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-light:disabled, .btn-light.disabled {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
.btn-dark:hover {
  color: #fff;
  background-color: #1c1f23;
  border-color: #1a1e21;
}
.btn-check:focus + .btn-dark, .btn-dark:focus {
  color: #fff;
  background-color: #1c1f23;
  border-color: #1a1e21;
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}
.btn-check:checked + .btn-dark, .btn-check:active + .btn-dark, .btn-dark:active, .btn-dark.active, .show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1a1e21;
  border-color: #191c1f;
}
.btn-check:checked + .btn-dark:focus, .btn-check:active + .btn-dark:focus, .btn-dark:active:focus, .btn-dark.active:focus, .show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}
.btn-dark:disabled, .btn-dark.disabled {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.btn-outline-primary {
  color: red;
  border-color: red;
}
.btn-outline-primary:hover {
  color: #000;
  background-color: red;
  border-color: red;
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.5);
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #000;
  background-color: red;
  border-color: red;
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.5);
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: red;
  background-color: transparent;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}
.btn-check:checked + .btn-outline-secondary, .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-check:checked + .btn-outline-secondary:focus, .btn-check:active + .btn-outline-secondary:focus, .btn-outline-secondary:active:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}
.btn-outline-secondary:disabled, .btn-outline-secondary.disabled {
  color: #6c757d;
  background-color: transparent;
}

.btn-outline-success {
  color: #198754;
  border-color: #198754;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
}
.btn-check:checked + .btn-outline-success, .btn-check:active + .btn-outline-success, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.btn-check:checked + .btn-outline-success:focus, .btn-check:active + .btn-outline-success:focus, .btn-outline-success:active:focus, .btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
}
.btn-outline-success:disabled, .btn-outline-success.disabled {
  color: #198754;
  background-color: transparent;
}

.btn-outline-info {
  color: #0dcaf0;
  border-color: #0dcaf0;
}
.btn-outline-info:hover {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
.btn-check:focus + .btn-outline-info, .btn-outline-info:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.5);
}
.btn-check:checked + .btn-outline-info, .btn-check:active + .btn-outline-info, .btn-outline-info:active, .btn-outline-info.active, .btn-outline-info.dropdown-toggle.show {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
.btn-check:checked + .btn-outline-info:focus, .btn-check:active + .btn-outline-info:focus, .btn-outline-info:active:focus, .btn-outline-info.active:focus, .btn-outline-info.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.5);
}
.btn-outline-info:disabled, .btn-outline-info.disabled {
  color: #0dcaf0;
  background-color: transparent;
}

.btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
}
.btn-outline-warning:hover {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-check:focus + .btn-outline-warning, .btn-outline-warning:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-check:checked + .btn-outline-warning, .btn-check:active + .btn-outline-warning, .btn-outline-warning:active, .btn-outline-warning.active, .btn-outline-warning.dropdown-toggle.show {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-check:checked + .btn-outline-warning:focus, .btn-check:active + .btn-outline-warning:focus, .btn-outline-warning:active:focus, .btn-outline-warning.active:focus, .btn-outline-warning.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-outline-warning:disabled, .btn-outline-warning.disabled {
  color: #ffc107;
  background-color: transparent;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-check:focus + .btn-outline-danger, .btn-outline-danger:focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}
.btn-check:checked + .btn-outline-danger, .btn-check:active + .btn-outline-danger, .btn-outline-danger:active, .btn-outline-danger.active, .btn-outline-danger.dropdown-toggle.show {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-check:checked + .btn-outline-danger:focus, .btn-check:active + .btn-outline-danger:focus, .btn-outline-danger:active:focus, .btn-outline-danger.active:focus, .btn-outline-danger.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}
.btn-outline-danger:disabled, .btn-outline-danger.disabled {
  color: #dc3545;
  background-color: transparent;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:hover {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-check:focus + .btn-outline-light, .btn-outline-light:focus {
  box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}
.btn-check:checked + .btn-outline-light, .btn-check:active + .btn-outline-light, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-check:checked + .btn-outline-light:focus, .btn-check:active + .btn-outline-light:focus, .btn-outline-light:active:focus, .btn-outline-light.active:focus, .btn-outline-light.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}
.btn-outline-light:disabled, .btn-outline-light.disabled {
  color: #f8f9fa;
  background-color: transparent;
}

.btn-outline-dark {
  color: #212529;
  border-color: #212529;
}
.btn-outline-dark:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
.btn-check:focus + .btn-outline-dark, .btn-outline-dark:focus {
  box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
}
.btn-check:checked + .btn-outline-dark, .btn-check:active + .btn-outline-dark, .btn-outline-dark:active, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
.btn-check:checked + .btn-outline-dark:focus, .btn-check:active + .btn-outline-dark:focus, .btn-outline-dark:active:focus, .btn-outline-dark.active:focus, .btn-outline-dark.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
}
.btn-outline-dark:disabled, .btn-outline-dark.disabled {
  color: #212529;
  background-color: transparent;
}

.btn-link {
  font-weight: 400;
  color: red;
  text-decoration: underline;
}
.btn-link:hover {
  color: #cc0000;
}
.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Hide Input Number Arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  font-size: 62.5%;
  font-family: "Exo", sans-serif;
  font-weight: 400;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinges {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}

.animated.snail {
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -ms-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
  }
}
@-moz-keyframes shake {
  0%, 100% {
    -moz-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px);
  }
}
@-o-keyframes shake {
  0%, 100% {
    -o-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  -o-box-sizing: inherit;
}

.grid {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

.grid--full-width {
  width: 100%;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.grid--alignment-top {
  margin-top: 25px;
}

.grid-column-4 {
  padding-left: 12px;
  padding-right: 12px;
  width: 33.3333%;
}

.grid-column-8 {
  padding-left: 12px;
  padding-right: 12px;
  width: 66.66667%;
}

.grid-column-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: 16.6667%;
}

.grid-column-10-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: 20%;
}

.grid-column-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: 83.3333%;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.pagination__item {
  margin: 0 8px;
  cursor: pointer;
}

.pagination__link {
  display: block;
  height: 30px;
  min-width: 40px;
  font-size: 1.7rem;
  text-decoration: none;
  color: #333;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
}

.pagination__item--active .pagination__link {
  color: white;
  background-color: #045762;
  cursor: default;
}

.header {
  padding: 0 50px;
  height: 110px;
  background-color: #045762;
  color: white;
  font-size: 1.5rem;
}

.nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list__item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 10px;
}

.nav-list__link {
  text-decoration: none;
  color: white;
}

.nav-list-link__icon {
  margin: 0 3px;
}

.nav-list-link__icon--fb {
  margin-left: 5px;
}

.nav-list__item--login, .nav-list__item--signup {
  font-weight: 600;
}

.nav-list__item--login:hover, .nav-list__item--signup:hover {
  cursor: pointer;
}

.item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 50%;
  border-right: 1px solid #4e8d7c;
  top: 25%;
  right: -10px;
}

.nav-list__link:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.03);
}

/* user profile */
.nav-list-user__avatar {
  margin-right: 5px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.nav-list-user__name {
  font-weight: 600;
}

.nav-list-user__menu {
  display: none;
  position: absolute;
  z-index: 1;
  width: 125px;
  padding: 0;
  top: 100%;
  right: 0;
  list-style: none;
  border-radius: 2px;
  background-color: white;
  box-shadow: 2px 2px 1px 0px #c7c7c7;
  font-size: 1.4rem;
  animation: slide-down ease-in 0.3s;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
.nav-list-user__menu::after {
  content: "";
  border: 10px solid;
  border-color: transparent transparent white transparent;
  position: absolute;
  right: 30px;
  top: -20px;
}

.nav-list__item--user:hover .nav-list-user__menu {
  display: block;
}

.nav-list-user-menu__link {
  display: block;
  box-sizing: border-box;
  padding: 7px 10px;
  text-decoration: none;
  color: #333;
}

li.nav-list-user-menu__item:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  overflow: hidden;
}

li.nav-list-user-menu__item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  overflow: hidden;
}

.nav-list-user-menu__link:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/*Notification*/
.nav-list__notify {
  position: absolute;
  top: 100%;
  right: 0;
  width: 400px;
  z-index: 1;
  animation: notify-animation ease-in 0.2s;
  will-change: opacity, transform;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(63, 111, 126, 0.76);
  -moz-box-shadow: 0px 0px 2px 1px rgba(63, 111, 126, 0.76);
  box-shadow: 0px 0px 2px 1px rgba(63, 111, 126, 0.76);
  display: none;
}

@keyframes notify-animation {
  0% {
    transform-origin: top right;
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.nav-list-notify__header {
  background-color: white;
  color: #555;
  margin: 0;
  line-height: 30px;
  height: 30px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
  cursor: default;
}

.nav-list-notify__listnoti {
  padding: 0;
}

.nav-list-notify-listnoti__item {
  height: 60px;
}

.nav-list-notify-listnoti__link {
  height: 100%;
  display: flex;
  text-decoration: none;
  color: #333;
  background-color: white;
}

.nav-list-notify-listnoti__imgContain {
  height: 100%;
  width: 60px;
  background-color: white;
}

.nav-list-notify-listnoti__img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.nav-list-notify-listnoti__infor {
  padding: 0.5rem;
  width: calc(100% - 60px);
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-list-notify-listnoti__title {
  box-sizing: border-box;
  margin: 0;
  height: 70%;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-list-notify-listnoti__descrip {
  padding: 0;
  margin: 0;
  height: 30%;
  font-size: 1.3rem;
  line-height: 1.3rem;
  opacity: 0.8;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav-list-notify-listnoti__link:hover, .nav-list-notify__footer:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.fa-bell {
  margin-right: 0.3rem;
}

.nav-list-notify__footer {
  height: 32px;
  text-align: center;
  font-weight: 1.4rem;
  line-height: 1.4rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.nav-list-notify-footer__link {
  font-weight: 1.4rem;
  line-height: 3rem;
  text-decoration: none;
  color: #333;
}

.nav-list__notify::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent white transparent;
  position: absolute;
  right: 25px;
  top: -20px;
}

.nav-list__notify::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 20px;
  right: 90px;
  top: -20px;
}

.nav-list__item--notibar:hover .nav-list__notify {
  display: block;
}

/* Header Search */
.searchbar {
  margin-top: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar__logoBox {
  margin: 0 70px 0 10px;
  width: 130px;
  height: 70px;
}

.searchbar-logoBox__img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 1px;
}

.searchbar__searchInput {
  height: 100%;
  background-color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.searchbar-searchInput__text {
  height: 100%;
  padding: 0 10px;
  outline: none;
  border: none;
  border-radius: 2px;
  flex: 1;
  font-size: 1.6rem;
}

.searchbar-searchInput__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  height: 92%;
  width: 70px;
  border-radius: 2px;
  text-align: center;
  background-color: #045762;
  cursor: pointer;
}

.searchbar-searchInput-btn__icon {
  font-size: 2rem;
}

.searchbar__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  width: 90px;
  height: 100%;
  margin: 0 3%;
}

.searchbar-cart__icon {
  font-size: 3rem;
  cursor: pointer;
}

.searchbar-searchInput__btn:hover {
  background-color: #3f6f7e;
}

/* Search History */
.searchbar__component {
  flex: 1;
  height: 100%;
  position: relative;
}

.searchbar__history {
  z-index: 1;
  top: 110%;
  left: 0;
  width: calc(100% - 73px);
  padding: 0;
  position: absolute;
  background-color: white;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  display: none;
  animation: HistorySlideDown 0.4s;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(243, 242, 218, 0.9);
  -moz-box-shadow: 0px 0px 0px 1px rgba(243, 242, 218, 0.9);
  box-shadow: 0px 0px 0px 1px rgba(243, 242, 218, 0.9);
}

.searchbar-history__header {
  height: 20px;
  margin: 10px;
  line-height: 20px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #555;
}

.searchbar-history__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.searchbar-history-list__item {
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
}

.searchbar-history-list__item a {
  display: block;
  color: #333;
  text-decoration: none;
}

.searchbar__component:hover .searchbar__history {
  display: block;
}

.searchbar__history::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  top: -5px;
}

.searchbar-history-list__item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

@keyframes HistorySlideDown {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(5%);
  }
  65% {
    transform: translateY(-10%);
  }
  80% {
    transform: translateY(5%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* Cart */
.searchbar-cart__component {
  z-index: 1;
  display: none;
  position: absolute;
  top: 110%;
  right: 0;
  width: 400px;
  border-radius: 2px;
  background-color: white;
  animation: CartFadeIn 0.3s ease-in;
  color: #333;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(243, 242, 218, 0.9);
  -moz-box-shadow: 0px 0px 3px 2px rgba(243, 242, 218, 0.9);
  box-shadow: 0px 0px 3px 2px rgba(243, 242, 218, 0.9);
}

.searchbar-cart-component__EmptyImg {
  display: none;
  width: 30%;
}

.searchbar-cart-component__EmptyNote {
  text-align: center;
  font-size: 2rem;
  display: none;
}

.fa-frown--position {
  margin-left: 5px;
}

.searchbar-cart__component::after {
  content: "";
  position: absolute;
  right: 32px;
  top: -20px;
  border: 10px solid;
  border-color: transparent transparent white transparent;
}

.searchbar-cart__component::before {
  content: "";
  position: absolute;
  right: 0;
  top: -10px;
  width: 120px;
  height: 10px;
}

.searchbar-cart__AmountProduct {
  position: absolute;
  padding: 1px 6px;
  top: 0px;
  right: 15px;
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid #dfdfdf;
  background-color: white;
  color: #045762;
}

.searchbar__cart:hover {
  color: rgba(0, 0, 0, 0.03);
}

.searchbar__cart:hover .searchbar-cart__AmountProduct {
  background-color: rgba(0, 0, 0, 0.03);
}

.searchbar__cart:hover .searchbar-cart__component {
  display: block;
}

.searchbar-cart__component--emptyCart .searchbar-cart-component__EmptyImg,
.searchbar-cart__component--emptyCart .searchbar-cart-component__EmptyNote {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes CartFadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* Cart has item */
.searchbar-cart__header {
  margin: 0;
  height: 35px;
  line-height: 35px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #555;
  text-align: center;
  border-bottom: 2px solid #dfdfdf;
}

.searchbar-cart__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.searchbar-cart-list__item {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 2px dashed #dfdfdf;
}

.searchbar-cart-list__item:last-child {
  border: none;
}

.searchbar-cart-list-item_imgContain {
  width: 100px;
  height: 100%;
  background-color: white;
}

.searchbar-cart-list-item__img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.searchbar-cart-list-item__infor {
  height: 80%;
  width: calc(100% - 100px);
  padding: 0 10px;
  font-weight: 600;
  font-size: 1.4rem;
}

.searchbar-cart-list-item-infor__header {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  white-space: nowrap;
}

.searchbar-cart-list-item-infor__body {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.searchbar-cart-list-item__title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6rem;
}

.searchbar-cart-list-item__price {
  color: #045762;
}

.searchbar-cart-list-item__count {
  margin-left: 5px;
  font-size: 1.1rem;
  color: #555;
}

.searchbar-cart-list-item__typeOfProduct {
  font-weight: 500;
  color: #555;
}

.searchbar-cart-list-item__deleteProduct {
  font-size: 1.3rem;
  height: 60%;
  border: none;
  background-color: #39A2DB;
}

.searchbar-cart__footer {
  height: 40px;
  padding: 0 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-top: 2px solid #dfdfdf;
}

.searchbar-cart-list__item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* Container */
.container {
  background-color: rgba(0, 0, 0, 0.03);
}

.category {
  border-radius: 2px;
  background-color: white;
}

.category__header {
  margin-top: 0;
  padding: 10px 14px;
  color: #333;
  font-size: 1.7rem;
  border-bottom: 1px solid #dfdfdf;
}

.category-header__icon {
  font-size: 1.6rem;
  margin-right: 2px;
}

.category__list {
  padding: 0 0 8px 0;
  list-style: none;
  margin-left: 10px;
}

.category-list__item--active a {
  color: #045762;
}

.category-list__item--active .category-list__link::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  border: 4px solid;
  border-color: transparent transparent transparent #045762;
}

.category-list__link {
  position: relative;
  display: block;
  padding: 4px 16px;
  font-size: 1.6rem;
  color: #555;
  text-decoration: none;
  transition: right linear 0.1s;
  right: 0;
}

.category-list__link:hover {
  right: -4px;
  color: #045762;
  font-weight: 600;
}

/* Navigation Filter */
.navFilter {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.navFilter__title {
  font-size: 1.5rem;
  color: #333;
  margin-right: 14px;
}

.navFilter__btn {
  height: 30px;
  min-width: 90px;
  margin-right: 12px;
  cursor: pointer;
}

.navFilter__cboPrice {
  font-size: 1.4rem;
}

.navFilter__lblPrice {
  font-size: 1.4rem;
}

.navFilter__iconPrice {
  position: relative;
  font-size: 1.4rem;
  color: #838383;
}

.navFilter__switch {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navFilter-switch__page {
  font-size: 1.6rem;
  color: #333;
  margin-right: 20px;
}

.navFilter-switch__pageCurrent {
  color: #045762;
}

.navFilter-switch__control {
  overflow: hidden;
  display: flex;
  width: 70px;
  height: 30px;
  border-radius: 2px;
}

.navFilter-switch__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: white;
  color: #555;
  text-decoration: none;
  font-size: 1.4rem;
}

.navFilter-switch__btn--disabled {
  cursor: default;
  background-color: red;
}

/* Product */
.product__item {
  display: block;
  text-decoration: none;
  position: relative;
  margin-top: 12px;
  background-color: white;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform ease-in 0.2s;
  will-change: transform;
}

.product__item:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.05);
}

.product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.product-item__name {
  display: block;
  overflow: hidden;
  margin: 10px;
  height: 3.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  line-height: 1.8rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-item__priceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.product-item-priceBox__old {
  font-size: 1.3rem;
  color: #555;
  text-decoration: line-through;
}

.product-item-priceBox__new {
  font-size: 1.5rem;
  font-weight: 600;
  color: #045762;
  margin-left: 4px;
}

.product-item__react {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.product-item-react__like {
  font-size: 1.4rem;
  cursor: pointer;
}

.product-item-react-like__iconClicked {
  color: #f63d30;
  display: none !important;
}

.product-item-react__like--liked .product-item-react-like__iconClicked {
  display: inline-block;
}

.product-item-react__like--liked .product-item-react-like__iconEmpty {
  display: none;
}

.product-item-reat__rating {
  margin-left: auto;
  font-size: 1rem;
  cursor: pointer;
  color: #555;
}

.product-item-reat-rating__fill {
  color: #fdf253;
}

.product-item-react__sold {
  font-size: 1.3rem;
  margin-left: 3px;
}

.product-item__origin {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-bottom: 6px;
  font-size: 1.2rem;
  color: #555;
}

.product-item__favourite {
  position: absolute;
  padding: 0 4px 0 2px;
  height: 18px;
  top: 8px;
  left: -5px;
  color: white;
  background-color: #045762;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.product-item__favourite i {
  margin: 0 4px;
  font-size: 1rem;
}

.product-item__favourite::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  border-top: 4px solid #045762;
  border-left: 4px solid transparent;
  filter: brightness(0.7);
}

.product-item__saleOff {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: 600;
  line-height: 20px;
  font-size: 1.2rem;
  background-color: rgba(255, 216, 64, 0.8);
}

.product-item__saleOff::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  border-width: 0 20px 10px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 64, 0.8) transparent rgba(255, 216, 64, 0.8);
}

.product-item-saleOff__percent {
  color: #cf822a;
}

.product-item-saleOff__label {
  color: white;
}

/* Panigation home */
.pagination--home {
  margin: 40px 0px;
}

/* Footer */
.footer {
  border-top: 3px solid #045762;
  padding: 10px 20px;
}

.footer__heading {
  font-size: 1.6rem;
  color: #555;
}

.footer__list {
  padding-left: 0;
  list-style: none;
}

.footer-list_link {
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  height: 25px;
  color: #555;
}

.footer-list_link:hover {
  color: #045762;
  font-weight: 600;
}

.footer__text {
  text-align: center;
  font-size: 1.3rem;
  color: #045762;
}

.productDetail {
  position: relative;
}

.productDetail__inforBox {
  padding: 10px;
}

.productDetail__heading {
  color: #333;
  font-size: 2.5rem;
  max-height: 9rem;
  line-height: 3rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productDetail__rating {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #333;
}

.productDetail-rating__star {
  color: #fdf253;
}

.productDetail-rating__number {
  margin-right: 3px;
}

.productDetail-type__heading {
  width: 150px;
  font-size: 1.7rem;
  font-weight: 600;
}

.productDetail__type {
  margin-top: 100px;
  height: 30px;
  display: flex;
  align-items: center;
}

.productDetail-type__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.productDetail-type-list__item {
  margin: 0 10px;
  padding: 5px 10px;
  border: 2px solid #c7c7c7;
  font-size: 1.4rem;
  cursor: pointer;
}

.productDetail-type-list__item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.productDetail__count {
  font-size: 1.7rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 50px;
}

.productDetail-count__title {
  width: 150px;
  margin-right: 10px;
}

.productDetail-count__body {
  display: flex;
  align-items: center;
  height: 50%;
}

.productDetail-count-body__Num {
  width: 70px;
  text-align: center;
}

.productDetail-count-body__numValid {
  margin-left: 10px;
}

.productDetail__buyBtn {
  position: absolute;
  bottom: 80px;
  display: flex;
  align-items: center;
  height: 40px;
}

.productDetail-buyBtn__addCart {
  height: 100%;
  margin-right: 20px;
  background-color: #39A2DB !important;
}

.productDetail-buyBtn__buyNow {
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
