.input{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border-radius: $border-radius !important;
    border: $border-light;
    color: $text-color;
    background-color: $background-color-white;

    &:hover{
        background-color: $hover-color-bg;
    }
    &:focus{
        outline: none;
        background-color: $white-color;
    }
    & ~ .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $primary-color;
    }
    &:focus ~ .underline {
        width: 100%;
        transition: 0.5s;
    }
}


