/* Modal Popup */
.modal{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.modal-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-body{
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 500px;
    animation: zoom-center ease-in 0.3s;
}
/* Signup form*/
.modal-body__form{
    padding: 25px;
    font-size: 1.4rem;
    border-radius: $border-radius;
    background-color: $background-color-white;
}
.modal-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $hover-color-text;

    .switch{
        padding: 10px;
        color: $primary-color;
        text-decoration: none;
        cursor: pointer;
    }
}
.modal-form__input{
    position: relative;
    margin-top: 10px;
}
.modal-form__controls{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .btn{
        font-size: 1.6rem;
        padding: 10px 16px;
    }
}
.modal-form__socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    a{
        text-decoration: none;
    }
    .facebook-auth, .google-auth{
        display: block;
        padding: 10px;
        color: $text-color-white;
    }
    .facebook-auth{
        background-color: $facebook-color;
    }
    .google-auth{
        background-color: $google-color;
    }
   
}
.login-policy{
    text-align: center;
    a{
        display: block;
        text-decoration: none;
        color: $primary-color;
        &:hover{
            font-weight: 500;
        }
    }
}
// Forget pass
.forget-pass{
    a{
        display: block;
        text-align: center;
        text-decoration: none;
        color: $primary-color;
    }
}
// Place error massage Register and Login
.input__error-txt{
    margin-top: 6px;
    display: block;
    color:red;
    font-size: 1.3rem;
}
// Show password
.modal__show-pass{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    input[type='checkbox']{
        margin-right: 4px;
    }
}