/* Modal Popup */
.modal{
    position: fixed;
    display: flex;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: none;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $background-color-transparent;
}
.modal__body{
    margin: auto;
    border-radius: 3px;
    position: relative;
    background-color: $white-color;
    overflow: hidden;
    animation: formAnimation ease-in 0.3s;
}
/* Signup */
.modal-body__auth{
    width: 450px;
    padding:30px;
}
.auth-header{
    height: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color:$text-color;
    border-bottom: 1px solid $border-color-dark;
}
.auth-header__title{
    margin:0;
}
.auth-header__switch{
    font-size: 1.4rem;
    margin:0;
    color: $primary-color;
    cursor: pointer;
}
.auth-body{
    padding: 0;
}
.auth-body__element{
    position: relative;
}
.auth-policy{
    text-align: center;
    margin:20px 0;
    font-size: 1.2rem;
}
.auth-policy__link{
    color:$second-color;
    text-decoration: none;
}
.auth-controls{
    margin-top:40px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    
}
.modal-body__socials{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}
.modal-body-socials__facebook,.modal-body-socials__google{
    width: 44%;
}
.modal-body-socials__google{
    background-color: $google-color;
    color:$text-color-white;
}
.modal-body-socials__facebook{
    background-color: $facebook-color;
    color:$text-color-white;
}
/* Forget pass */
.modal-body-auth__forgetPass{
    font-size:1.2rem;
    text-align: right;
    margin-top:10px;
}
.modal-body-auth-forgetPass__link{
    color:$primary-color;
    text-decoration: none;
}
/* Animation Form Signup and Login */
@keyframes formAnimation {
    0%{
        transform: scale(0.5);
        opacity: 0.5;
        background-color: $third-color;
    }
    100%{
        transform: scale(1);
        opacity: 1;
       
    }
}
// Place error massage Register and Login
.auth-body__errorTxt{
    color:red;
    font-size: 1.4rem;
    margin-top: 6px;
    display: block;
}
// Show password
.auth-body__showPassword{
    display: flex;
    align-items: center;
    height: 20px;
    margin-top: 10px;
    justify-content: flex-end;
}
.modal-body__showPassword{
    margin:0 4px;
}
.auth-body-lable__showPassword{
    font-size: 1.4rem;
    display: block;
    margin-top: 2px;
}
.auth-body-lable__showPassword:hover, .auth-body-lable__showPassword:hover{
    cursor: pointer;
}
.auth-header__switch{
    text-decoration: none;
}
