@use '../abstracts' as a;


/* Modal Popup */
.modal{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.modal-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-body{
    position: relative;
    margin: auto;
    margin-top: 100px;
    max-width: 500px;
    animation: zoom-center ease-in 0.3s;
}
/* Signup form*/
.modal-body__form{
    padding: 25px;
    font-size: 1.4rem;
    border-radius: a.$border-radius;
    background-color: a.$background-white;
}
.modal-form__header{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid a.$hover-text;

    .switch{
        padding: 10px;
        color: a.$primary;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.5rem;
    }
}
.modal-form__input{
    position: relative;
    margin-top: 10px;
}
.modal-form__controls{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .btn{
        font-size: 1.6rem;
        padding: 10px 16px;
    }
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    a{
        display: block;
        padding: 15px;
        margin: 0 10px;
        font-size: 2rem;
        text-decoration: none;
        border-radius: a.$border-radius;
    }
    .facebook-auth, .google-auth{
        color: a.$text-white;
    }
    .facebook-auth{
        background-color: a.$facebook-color;
    }
    .google-auth{
        background-color: a.$google-color;
    }
   
}
.login-policy{
    text-align: center;
    a{
        display: block;
        text-decoration: none;
        color: a.$primary;
        &:hover{
            font-weight: 500;
        }
    }
}
// Forget pass
.forget-pass{
    a{
        display: block;
        text-align: center;
        text-decoration: none;
        color: a.$primary;
    }
}
// Show password
.modal__show-pass{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    input[type='checkbox']{
        margin-right: 4px;
    }
}