// Place error massage Register and Login
.error-label{
    display: block;
    margin-top: 5px;
    color: $red-color;
    font-size: 1.3rem;
}
.error-input{
    border-color: $red-color;
}
.alert {
    width: 100%;
    margin-top: 12px;
    padding: 12px 16px;
    border-radius: $border-radius;
    border: $border-light;
    font-size: 1.6rem;
    text-align: center;
}

.alert.alert-success {
    background-color: rgba(227, 253, 235, 1);
    border-color: rgba(38, 179, 3, 1);
    color: rgba(60, 118, 61, 1);
}

.alert.alert-info {
    background-color: rgba(217, 237, 247, 1);
    color: rgba(49, 112, 143, 1);
    border-color: rgba(126, 182, 193, 1);
}


.alert.alert-warning {
    background-color: rgba(252, 248, 227, 1);
    border-color: rgba(177, 161, 129, 1);
    color: rgba(138, 109, 59, 1);
}

.alert.alert-danger {
    background-color: rgba(248, 215, 218, 1);
    border-color: rgba(220, 53, 69, 1);
    color: rgba(114, 28, 36,1);
}

// modal success & failed alert
.modal__update-success, .modal__update-failed{
    display: none;
}
.update-success, .update-failed{
    width: 500px;
    height: 150px;
    border-radius: 0.2rem;
    background-color: $background-color-white;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    div{
        margin: auto;
        text-align: center;
        p{
            font-size: 1.6rem;
        }
    }
}
.update-success i{
    font-size: 4rem;
    color: $green-color;
}
.update-failed{
    font-size: 4rem;
    color: $red-color;
}