
/* selection */
.select-input{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 190px;
    height: 30px;
    padding:0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
}
.select-input__list{
    display: none;
    position: absolute;
    padding:4px 0;
    left:0;
    right: 0;
    top:18px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style:none;
}
.select-input__link{
    display:block;
    padding:7px 12px;
    font-size: 1.4rem;
    color:var(--text-color);
    text-decoration: none;
}
.select-input__link:hover{
    color: var(--primary-color);
}
