
/* selection */
.select{
    position: relative;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: $border-radius;
    ul{
        z-index: 2;
        position: absolute;
        list-style: none;
        top: 100%;
        left: 0;
    }

}