/* Container */
.container{
    background-color: $background-color-transparent;
    font-size: 1.3rem;
    color: $text-color;
}
.category-bar{
    border-radius: $border-radius;
    background-color: $background-color-white;
    &__title{
        margin: 0;
        padding: 15px 20px;
        color: $text-color-light;
        i{
            font-size: 1.6rem;
        }
    }
    &__list{
        list-style: none;
    }
    &__item{
        flex: 1;
        display: block;
        position: relative;
        padding: 4px 16px;
        font-size: 1.5rem;
        color: $text-color;
        text-decoration: none;
        transition: right linear 0.2s;
        right: 0;
        &:hover, &--active{
            right: -4px;
            color: $primary-color;
            font-weight: 600;
        }
    }

}
/* Navigation Filter */
.filter{ 
    display: flex;
    align-items: center;
    padding: 0 16px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: $border-radius;
    font-size: 1.5rem;
    &__title{
        font-size: inherit;
    }
    &__list{
        flex: 1;
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        list-style: none;
        .filter__item{
            border-radius: $border-radius;
            padding: 8px 16px;
            &.active{
                background-color: $primary-color;
                color: $text-color-white;
            }
            &:hover:not(.active):not(.filter__item-select){
                cursor: pointer;
                background: $hover-color-text;
                transition: background 0.2s;
            }
        }
    }
    &__switch{
        display: flex;
        .filter-switch__control{
            margin-left: 10px;
            a {
                padding: 2px 10px;
                text-decoration: none;
                color: $text-color;
                background-color: $background-color-white;
                &:hover:not(.disabled){
                    background-color: $hover-color-bg;
                }
            }
            a.disabled{
                background-color: $background-color-disabled;
                cursor: default;
            }
        }

    }
}
/* Product */
.product{
    &__item{
        display: block;
        position: relative;
        text-decoration: none;
        color: $text-color;
        background-color:  $background-color-white;
        border-radius: $border-radius;
        box-shadow: $box-shadow-sm;
        transition: transform ease-in 0.2s;
        will-change: transform;

        &:hover{
            transform: translateY(-4px);
            box-shadow: $box-shadow;
        }

        .product-item__img{
            padding-top: 100%;
            background: no-repeat center/contain;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }
        .product-item__content{
            padding: 0 10px;
            .product-item__name{
                $base-font: 1.4rem;
                margin : 5px 0;
                overflow: hidden;
                height: calc(#{$base-font}*2 + 6px);
                line-height: calc(#{$base-font} + 3px);
                font-size: $base-font;
                font-weight: 400;
                text-overflow: ellipsis;
                display :-webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
            .product-item__price{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                padding: 6px 0;
                font-size: 1.5rem;
                .price-original{
                    position: relative;
                    color: $text-color-light;
                    &::after{
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        transform: rotate(-15deg);
                        background-color: $text-color-light;
                    }
                }
                .price-sale{
                    font-weight: 600;
                    color: $primary-color;
                }
            }
            .product-item__react{
                display: flex;
                justify-content: space-between;
                font-size: 1.2rem;
                padding-top: 5px;
                .product-item__rating{
                    color: $yellow-color;
                }
                .product-item__sold{
                    margin-left: 4px;
                }
            }
            .product-item__origin{
                display: flex;
                justify-content: space-between;
                padding: 8px 0;
                font-size: 1.2rem;
            }
        }
        .product-item__favourite{
            position: absolute;
            padding: 0 4px;
            line-height: 1.8rem;
            top: 8px;
            left: -4px;
            color: $text-color-white;
            background-color: $red-color;
            font-size: 1.2rem;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            i{
                margin-right: 3px;
            }
            &::after{
                content:"";
                position: absolute;
                left: 0;
                bottom: -4px;
                border-top: 4px solid $red-color;
                border-left: 4px solid transparent;
                filter: brightness(0.7);
            }
        }
        .product-item__discount{
            position: absolute;
            right: 0;
            top: 0;
            width: 4rem;
            height: 4rem;
            text-align: center;
            font-weight: 600;
            line-height: 2rem;
            font-size: 1.2rem;
            background-color: $yellow-color;
            color: $text-color-white;
        }
        .product-item__discount::after{
            content:"";
            position: absolute;
            left: 0;
            bottom: -10px;
            border-width: 0 2rem 10px;
            border-style: solid;
            border-color: transparent $yellow-color transparent $yellow-color;
        }
        
    }
}


 