
//Personal Sidebar
.personal-sidebar{
    margin-bottom: 50px;
    padding-bottom: 10px;
    &__header{
        display: flex;
        align-items: center;
        padding: 15px 0;
        border-bottom: $border-light;
    }
    &__avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        &:hover{
            cursor: pointer;
        }
    }

    &__profile{
        padding-left: 15px;
        margin: 0;
        text-decoration: none;
        .username{
            color: $text-color;
            font-size: 1.4rem;
            margin: 4px 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 115px;
            font-weight: 600;
        }
        .edit{
            font-size: 1.4rem;
            color: $text-color-light;
            &:hover{
                cursor: pointer;
            }
        }
    }

    &__list{
        list-style-type: none;
        margin-top: 26px;
        padding: 0;
    }
    &__item{
        font-size: 1.4rem;
        word-spacing: 0.2rem;
        margin-bottom: 15px;
    }
    
    &__nav{
        font-size: 1.5rem;
        display: block;
        color: $text-color; 
        transition: all 0.2s;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        position: relative;
        right: 0;
        transition: right linear 0.2s;
        &:hover{
            cursor: pointer;
            color: $primary-color;
            font-weight: 600;
            right: -6px;
        }
        i{
            font-size: 1.7rem;
            min-width: 32px;
        }
    }
  
    &__subnav{
        list-style: none;
        margin-left: 32px;
        li{
            margin-top: 15px;
            display: none;
            position: relative;
            right: 0;
            transition: right linear 0.2s;
            &:hover{
                cursor: pointer;
                color: $primary-color;
                font-weight: 600;
                right: -6px;
            }
        }
    }
}
.personal-active{ //active navbar when it is clicked
    color: $primary-color;
    font-weight: 600;
}

.personal-body{
    display: none;
    height: 100%;
    &:first-child {
        display: block;
    }
}
// Tài khoản của tôi
.account__header-2line{
    padding: 18px 0;
    border-bottom: $border-light;
    height: 80px;
    h2{
        font-weight: 500;
        margin: 0;
        padding-bottom: 6px;
        font-size: 1.9rem;
        color: $text-color;
    }
    p{
        font-size: 1.5rem;
        margin: 0;
        color: $text-color;
    }
}
.account__header-1line{
    padding: 18px 0;
    border-bottom: $border-light;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
        font-weight: 500;
        margin: 0;
        padding-bottom: 6px;
        font-size: 1.9rem;
        color: $text-color;
    }
    button{
        padding: 0 20px;
        height: 40px;
        font-size: 1.5rem;    
    }     
}
.account{
    background-color: $background-color-white;
    padding: 0 30px;
    border-radius: 0.2rem;
    box-shadow: 0 1px 1px $background-color-disabled;
    min-height: 420px;
}

.profile{
    padding-bottom: 50px;
    &__info{
        padding-right: 25px;
    }
    .error-username{
        margin-left: 160px;
        color: $red-color;
    }
    &__edit{
        margin-top: 30px;
        display: flex;
        align-items: center;
        &-title{
            min-width: 120px;
            text-align: right;
            margin: 0  20px;
            color: $text-color-light;
            font-size: 1.5rem;
        }
        .input{
            font-size: 1.5rem;
        }
        &-change{
            color: $primary-color;
            margin: 0;
            margin-left: 8px;
            text-decoration: underline;
            cursor: pointer;
            font-size: 1.3rem;
        }
        &-phone, &-email{
            margin: 0;
            font-size: 1.4rem;
        }
        .save{
            padding: 0 20px;
            height: 40px;
            font-size: 1.5rem;
        }
    }
    &__avatar{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: $border-light;
        margin-top: 30px;
        &-img{
            margin: 20px 0;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
        &-upload{
           display: none;
        }
        &-label{
            height: 40px;
            width: 110px;
            line-height: 22px;
            margin-bottom: 15px;
            font-size: 1.4rem;
        }
        &-note{
            p{
                font-size: 1.4rem;
                margin: 0;
                line-height: 20px;
                color: $text-color-disable;
            }
        }
    }
}
.update-email{
    display: none;
    padding-bottom: 110px;
    &__confirm{

        padding: 30px 0 0;
        margin: 0 auto;
    }
    &__change{

        padding: 30px 0 0;
        margin: 0 auto;
        display: none;
    }
}
.update-field{
    display: flex;
    width: 100%;
    margin-top: 30px;
    align-items: center;
    p{
        margin: 0;
        width: 30%;
        font-size: 1.4rem;
        color: $text-color-disable;
        text-align: right;
        padding-right: 20px;
    }
    input[type=password], input[type=text]{
        width: 40%;
        padding: 0 20px;
        height: 40px;
        font-size: 1.4rem;
    }
    span{
        font-size: 1.5rem;
    }
    input[type=submit], input[type=button]{
        padding: 0 20px;
        height: 40px;
        width: 110px;
        margin-right: 12px;
        font-size: 1.5rem;
    }
}
.wrong-password{
    margin: 4px 0;
    padding-left:30%;
    color: $red-color;
    font-size: 1.3rem;
}

.error-password{
    color: $red-color;
    font-size: 1.3rem;
    margin: 4px 0;
    padding-left: calc(22% + 2px);
}
.update-phone{
    display: none;
    padding-bottom: 110px;
    &__change{
        padding: 30px 0 0;
        margin: 0 auto;
        display: none;
    }
}
.bank{
    display: none;
    &__body{
        min-height: 220px;
        display: flex;
        padding-bottom: 20px;
        p{
            font-size: 1.7rem;
            color: $text-color-light;
            margin: auto;
            font-weight: 500;
        }
    }
}

.address{
    display: none;
    height: 100%;
    &__body{
        display: flex;
        min-height: 200px;
        p{
            font-size: 1.7rem;
            color: $text-color-light;
            margin: auto;
            font-weight: 500;
        }
    }
}
.update-password{
    display: none;
    padding-bottom: 70px;
    &__field{
        display: flex;
        align-items: center;
        margin-top: 15px;
        p{
            width: 20%;
            text-align: right;
            font-size: 1.5rem;
            color: $text-color-light;
        }
        a{
            font-size: 1.4rem;
            color: $text-color-light;
        }
        input{
            margin: 0 20px;
            width: 40%;
        }
        input[type=submit]{
            padding: 0 20px;
            height: 40px;
            width: 110px;
        }
    }
    .save{  
        padding: 0 20px;
        height: 40px;
        font-size: 1.5rem;
        margin: 0 20px;
    }
}
.modal-address__add{
    display: none;
}
.user-address{
    width: 500px;
    background-color: $background-color-white;
    border-radius: $border-radius;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    padding: 30px;
    &__heading{
        font-size: 2rem;
        color: $text-color;
        font-weight: 500;
    }
    span{
        font-size: 1.5rem;
        color: $text-color-light;
    }
    &__box{
        justify-content: space-around;
        padding: 12px 10px;
        display: none;
    }
    &__select{
        padding: 8px 40px;
        font-size: 1.6rem;
    }
    &__detail{
        height: 80px;
        margin: 12px 0;
        padding: 6px 12px;
        font-size: 1.4rem;
        color: $text-color;
    }
    &__btn{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        input{
            padding: 8px 18px;
            font-size: 1.6rem;
        }
    }
}
.user-address__input{
    margin-top: 12px;
    font-size: 1.7rem;
}
// ************Đơn mua************
.purchase__menu{
    background-color: $background-color-white;
    border-radius: 0.2rem;
    display: flex;
    position: sticky;
    top: 0;
    &-nav{
        height: 54px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        color: $text-color;
        border-bottom: 2px solid #dee2e6;
        &:hover{
            cursor: pointer;
        }
    }
}
.purchase-active{
    border-bottom: 2px solid #045762;
    font-weight: 500;
}

.purchase__body{
    display: none;
}
.all-purchases{
    display: block;
    &__search{
        margin-top: 12px;
        display: flex;
        &-icon{
            height: 40px;
            background-color: $background-color-transparent;
            width: 60px;
            text-align: center;
            color: $text-color-disable;
            i{
                font-size: 1.8rem;            
                line-height: 40px;                
            }
        }
        &-input{
            border: none;
            background-color: $background-color-transparent;
            font-size: 1.4rem;
            &:focus{
                background-color: $background-color-transparent ;
            }
            // &:focus ~ .all-purchases__search-icon i{
            //     color: $text-color;
            // }
        }
    }
}
.purchases__list{
    min-height: 400px;
    border-radius: 0.2rem;
    margin-top: 12px;
    background-color: $background-color-white;
    box-shadow: 0 1px 1px $background-color-disabled;
    padding: 20px 20px 30px;
}
.purchase__list-header{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    &-item{
        display: flex;
        align-items: center;
        .where{
            font-size: 1.4rem;
            font-weight: 600;
            padding-left: 8px;
        }
        button{
            font-size: 1.3rem;
            margin-left: 6px;
            padding: 6px 12px;
        }
        .shipped{
            font-size: 1.6rem;
            color: $third-color;
            margin-left: 8px;
        }
        .help{
           font-size: 1.5rem;
           margin-left: 8px;
           color: $text-color-light;
        }
        .separation{
            height: 18px;
            width: 1px;
            background-color: $text-color-disable;
            margin-left: 6px;
        }
        .rated{
            font-size: 1.6rem;
            color: $red-color;
            margin-left: 8px;
        }
    }
}
.purchases__list-table{
    width: 100%;
}
.purchases__list-table, .purchases__row{
    border-top: $border-light ;
    border-bottom: $border-light;
    border-collapse: collapse;
}
.purchases__row{
    td{
        padding: 10px 0;
    }
    &-img{
        width: 90px;
        img{
            height: 80px;
            width: 80px;
            object-fit: cover;
        }
    }
    &-content{
        display: flex;
        flex-direction: column;
        justify-content: start;
        p{
            margin: 0;
            padding-bottom: 8px;
        }
    }
    &-title{
        padding-top: 4px;
        font-size: 1.7rem;
        color: $text-color;
    }
    &-category{
        font-size: 1.5rem;
        color: $text-color-light;
    }
    &-quantity{
        font-size: 1.5rem;
        color: $text-color;
    }
    &-price{
        text-align: right;
        font-size: 1.5rem;
        color: $text-color;
    }
}
.purchase__list-total{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    margin: 20px 0;
    p{
        font-size: 1.5rem;
        padding-right: 8px;
    }
    span{
        font-size: 2rem;
        color: $red-color;
    }
}
.purchase__list-footer{
    display: flex;
    p{
        margin-right: auto;
        font-size: 1.4rem;
        color: $text-color-light;
    }
    button{
        font-size: 1.5rem;
        margin-left: 6px;
        min-width: 140px;
    }
}
.purchases__empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 420px;
    justify-content: center;
    img{
        height: 200px;
    }
    p{
        font-size: 1.5rem;
    }
}


// ***************Thông Báo************
.personal-notify{
    height: 100%;
    display: none;
    &__update-bill{
        display: block;
    }
    &__body{
        height: 100%;
        background-color: $background-color-white;
        border-radius: 0.2rem;
        box-shadow: 0 1px 1px $background-color-disabled;
    }
    &__empty{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        img{
            height: 200px;
        }
    }
}

//*******Modal success - failed
// .modal__update-success, .modal__update-failed{
//     display: none;
// }
// .update-success, .update-failed{
//     width: 500px;
//     height: 150px;
//     border-radius: 0.2rem;
//     background-color: $background-color-white;
//     position: relative;
//     top: 30%;
//     left: 50%;
//     transform: translateX(-50%);
//     display: flex;
//     div{
//         margin: auto;
//         text-align: center;
//         p{
//             font-size: 1.6rem;
//         }
//     }
// }
// .update-success i{
//     font-size: 4rem;
//     color: $green-color;
// }
// .update-failed{
//     font-size: 4rem;
//     color: $red-color;
// }
.purchase-svg-icon{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}