.productDetail{
    position: relative;
}
// .productDetail__imgBox{
//     padding: 10px;
// }
// .productDetail-imgBox__img{
//     width: 100%;
//     object-fit: contain;
// }
// .productDetail-imgBox__footer{
//     height: 30px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: 1.8rem;
//     color:$second-color;
// }
// .productDetail-imgBox__item{
//     margin:0 3px;
// }
.productDetail__imgBox{

}
.productDetail__inforBox{
    padding:  10px;
}
.productDetail__heading{
    $base: 2.5rem;
    color: $text-color;
    font-size: $base;
    max-height: $base*3 + 1.5rem;
    line-height: $base + 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.productDetail__favorite{
    // vertical-align: middle;
    // margin-right: 4px;
    // padding: 4px;
    // text-align: center;
    // border-radius: 3px;
    // font-size: 1.4rem;
    // color: $text-color-white;
    // background-color:$primary-color;
}
.productDetail__rating{
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color:$text-color;
}
.productDetail-rating__star{
    color:$yellow-color;
}
.productDetail-rating__number{
    margin-right: 3px;
}
.productDetail-type__heading{
    width: 150px;
    font-size: 1.7rem;
    font-weight: 600;
}
.productDetail__type{
    margin-top:100px;
    height: 30px;
    display: flex;
    align-items: center;
}
.productDetail-type__list{
    display: flex;
    list-style: none;
    margin:0;
    padding: 0;
}
.productDetail-type-list__item{
    margin:0 10px;
    padding:5px 10px;
    border:2px solid $border-color-dark;
    font-size: 1.4rem;
    cursor: pointer;
}
.productDetail-type-list__item:hover{
    background-color: $hover-color-light;
}
.productDetail__count{
    font-size: 1.7rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 50px;
}
.productDetail-count__title{
    width: 150px;
    margin-right: 10px;
}
.productDetail-count__body{
    display: flex;
    align-items: center;
    height: 50%;
}
.productDetail-count-body__decrease{

}
.productDetail-count-body__Num{
    width: 70px;
    text-align: center;
}
.productDetail-count-body__decrease{

}
.productDetail-count-body__numValid{
    margin-left: 10px;
}
.productDetail__buyBtn{
    position:absolute;
    bottom:80px;
    display: flex;
    align-items: center;
    height: 40px;
}
.productDetail-buyBtn__addCart{
    height: 100%;
    margin-right: 20px;
    background-color: $third-color !important;
}
.productDetail-buyBtn__buyNow{
    height: 100%;
}