@use '../abstracts' as a;

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*Customize*/
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  outline: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  background-color: rgba(a.$primary, 0.9);
  color: a.$text-white;
  border-color: a.$primary;
  border-width: 2px;
  &:hover {
    background-color: a.$primary;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.3rem rgba(a.$primary, 0.45);
  }
  &.disabled,
  &:disabled {
    opacity: 0.7;
    pointer-events: none;
    cursor: default;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    border-color: rgba(a.$third, 0.8);
  }
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.4rem rgba(a.$primary, 0.45);
  }
}

/*btn-secondary CSS*/
.btn-second {
  background-color: a.$fifth;
  color: a.$text;
  border-color: a.$second;

  &:hover {
    background-color: rgba(a.$fourth, 0.7);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.3rem rgba(a.$fourth, 0.7);
  }
  &.disabled,
  &:disabled {
    opacity: 0.7;
    cursor: default;
    pointer-events: none;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    background-color: a.$fourth;
    border-color: a.$third;
  }

  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.4rem rgba(a.$fourth, 0.7);
  }
}

/*btn-transparent CSS*/
.btn-third {
  background-color: a.$background-white;
  color: a.$text;
  border: a.$border-dark;

  &:hover {
    background-color: a.$fifth;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.3rem rgba(a.$fourth, 0.7);
  }
  &.disabled,
  &:disabled {
    opacity: 0.7;
    cursor: default;
    pointer-events: none;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    background-color: a.$fifth;
    border-color: a.$fourth;
  }

  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.4rem rgba(a.$fourth, 0.7);
  }
}

.btn-outline-primary {
  background-color: a.$background-white;
  color: a.$primary;
  border-color: a.$primary;

  &:hover {
    background-color: a.$hover-bg;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.3rem rgba(a.$primary, 0.45);
  }
  &.disabled,
  &:disabled {
    opacity: 0.7;
    cursor: default;
    pointer-events: none;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    border-color: rgba(a.$third, 0.8);
  }

  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.4rem rgba(a.$primary, 0.45);
  }
}

// /*btn-outline-success style*/
// .btn-outline-success {
//     color: #28a745;
//     border-color: #28a745;
// }

// .btn-outline-success:hover {
//     color: #fff;
//     background-color: #28a745;
//     border-color: #28a745;
// }

// .btn-outline-success:focus, .btn-outline-success.focus {
//     box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
// }

// .btn-outline-success.disabled, .btn-outline-success:disabled {
//     color: #28a745;
//     background-color: transparent;
// }

// .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
// .show > .btn-outline-success.dropdown-toggle {
//     color: #fff;
//     background-color: #28a745;
//     border-color: #28a745;
// }

// .btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
// .show > .btn-outline-success.dropdown-toggle:focus {
//     box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
// }

// /*btn-outline-info*/
// .btn-outline-info {
//     color: #17a2b8;
//     border-color: #17a2b8;
// }

// .btn-outline-info:hover {
//     color: #fff;
//     background-color: #17a2b8;
//     border-color: #17a2b8;
// }

// .btn-outline-info:focus, .btn-outline-info.focus {
//     box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
// }

// .btn-outline-info.disabled, .btn-outline-info:disabled {
//     color: #17a2b8;
//     background-color: transparent;
// }

// .btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
// .show > .btn-outline-info.dropdown-toggle {
//     color: #fff;
//     background-color: #17a2b8;
//     border-color: #17a2b8;
// }

// .btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
// .show > .btn-outline-info.dropdown-toggle:focus {
//     box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
// }

// /*btn-outline-light*/
// .btn-outline-light {
//     color: #f8f9fa;
//     border-color: #f8f9fa;
// }

// .btn-outline-light:hover {
//     color: #212529;
//     background-color: #f8f9fa;
//     border-color: #f8f9fa;
// }

// .btn-outline-light:focus, .btn-outline-light.focus {
//     box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
// }

// .btn-outline-light.disabled, .btn-outline-light:disabled {
//     color: #f8f9fa;
//     background-color: transparent;
// }

// .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
// .show > .btn-outline-light.dropdown-toggle {
//     color: #212529;
//     background-color: #f8f9fa;
//     border-color: #f8f9fa;
// }

// .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
// .show > .btn-outline-light.dropdown-toggle:focus {
//     box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
// }

// /*btn-outline-dark*/
// .btn-outline-dark {
//     color: #343a40;
//     border-color: #343a40;
// }

// .btn-outline-dark:hover {
//     color: #fff;
//     background-color: #343a40;
//     border-color: #343a40;
// }

// .btn-outline-dark:focus, .btn-outline-dark.focus {
//     box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
// }

// .btn-outline-dark.disabled, .btn-outline-dark:disabled {
//     color: #343a40;
//     background-color: transparent;
// }

// .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
// .show > .btn-outline-dark.dropdown-toggle {
//     color: #fff;
//     background-color: #343a40;
//     border-color: #343a40;
// }

// .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
// .show > .btn-outline-dark.dropdown-toggle:focus {
//     box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
// }

// /*btn-outline-danger*/
// .btn-outline-danger {
//     color: #dc3545;
//     border-color: #dc3545;
// }

// .btn-outline-danger:hover {
//     color: #fff;
//     background-color: #dc3545;
//     border-color: #dc3545;
// }

// .btn-outline-danger:focus, .btn-outline-danger.focus {
//     box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
// }

// .btn-outline-danger.disabled, .btn-outline-danger:disabled {
//     color: #dc3545;
//     background-color: transparent;
// }

// .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
// .show > .btn-outline-danger.dropdown-toggle {
//     color: #fff;
//     background-color: #dc3545;
//     border-color: #dc3545;
// }

// .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
// .show > .btn-outline-danger.dropdown-toggle:focus {
//     box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
// }

// /*btn-outline-warning*/
// .btn-outline-warning {
//     color: #ffc107;
//     border-color: #ffc107;
// }

// .btn-outline-warning:hover {
//     color: #212529;
//     background-color: #ffc107;
//     border-color: #ffc107;
// }

// .btn-outline-warning:focus, .btn-outline-warning.focus {
//     box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
// }

// .btn-outline-warning.disabled, .btn-outline-warning:disabled {
//     color: #ffc107;
//     background-color: transparent;
// }

// .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
// .show > .btn-outline-warning.dropdown-toggle {
//     color: #212529;
//     background-color: #ffc107;
//     border-color: #ffc107;
// }

// .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
// .show > .btn-outline-warning.dropdown-toggle:focus {
//     box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
// }
