@use '../abstracts' as a;

.body {
  color: a.$text;
  font-size: 1.3rem;
}
/* Background color */
.bg-transparent {
  background-color: a.$background-transparent;
}
/* Sub layout */
.layout-split {
  background-color: a.$background-white;
  border-radius: a.$border-radius;
}
