:root{
    //System color
    --primary-color:#045762;
    --second-color:#3f6f7e;
    --third-color:#dff3e3;
    //Text
    --text-color:#444;
    --text-color-light:#666;
    --text-color-dark:#212529;
    --text-color-white:white;
    --text-color-disable:rgba(0,0,0,.05);

    //Decoration's color
    --background-color-transparent:rgba(0,0,0,.35);
    --hover-color-text:rgba(0,0,0,.03);
    --hover-color-input:rgba(0,0,0,.03);

    --shadow-color-dark:#3E5363;
    --border-color-light:#dfdfdf;
    --border-color-dark:#c7c7c7;

    //Pure colors
    --white-color:white;
    --red-color:#cf2a2a;
    --blue-color: #455CA8;
    --yellow-color: #fdf253;

    //Social 
    --facebook-color:#455CA8;
    --google-color:#F74933;


}