//Pure colors
$white-color:               #fff;
$red-color:                 #d65555;
$orange-color:              #cf822a;
$blue-color:                #455CA8;
$yellow-color:              #fdf253;
$gray-color:                #777;

//Customize color
$primary-color:             #045762;
$second-color:              #3f6f7e;
$third-color:               #39A2DB;
$fourth-color:              #A2DBFA;
$fifth-color:               #E8F0F2;

//Text
$text-color:                #333; //Chinh
$text-color-light:          #666;
$text-color-black:          #000;
$text-color-white:          #fff;
$text-color-disable:        #999;

//Background color
$background-color-transparent: rgba(0,0,0,0.02);
$background-color-white:       #fff;
$background-color-disabled:    rgba(210, 210, 210);

//Hover color
$hover-color-text:          rgb(220, 220, 220);
$hover-color-bg:            rgba(245, 245, 245);

//Shadow
$box-shadow:                  0 .5rem 1rem rgba(#000, .15);
$box-shadow-sm:               0 .125rem .25rem rgba(#000, .075);
$box-shadow-lg:               0 1rem 3rem rgba(#000, .175);
$box-shadow-inset:            inset 0 1px 2px rgba(#000, .075);

//Border
$border-transparent:          1px solid rgba(0,0,0,.35);
$border-light:                1px solid #dee2e6;
$border-dark:                 1px solid #c7c7c7;
$border-radius:               2px;

//Social 
$facebook-color:            #455CA8;
$google-color:              #F74933;